<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_ID" version="2.4">
  <display-name>TpJee</display-name>
  <servlet>
    <description>
		</description>
    <display-name>ListeDesFormationsServlet</display-name>
    <servlet-name>ListeDesFormationsServlet</servlet-name>
    <servlet-class>fr.eni.servlet.ListeDesFormationsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>AccueilServlet</display-name>
    <servlet-name>AccueilServlet</servlet-name>
    <servlet-class>fr.eni.servlet.AccueilServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>AffichageMenuServlet</display-name>
    <servlet-name>AffichageMenuServlet</servlet-name>
    <servlet-class>fr.eni.servlet.AffichageMenuServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>RecupererFormationsServlet</display-name>
    <servlet-name>RecupererFormationsServlet</servlet-name>
    <servlet-class>fr.eni.servlet.RecupererFormationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListeDesFormationsServlet</servlet-name>
    <url-pattern>/ListeDesFormationsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AccueilServlet</servlet-name>
    <url-pattern>/AccueilServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AffichageMenuServlet</servlet-name>
    <url-pattern>/AffichageMenuServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecupererFormationsServlet</servlet-name>
    <url-pattern>/RecupererFormationsServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AffichageFooterServlet</display-name>
    <servlet-name>AffichageFooterServlet</servlet-name>
    <servlet-class>fr.eni.servlet.AffichageFooterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AffichageFooterServlet</servlet-name>
    <url-pattern>/AffichageFooterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccesStagiaireServlet</display-name>
    <servlet-name>AccesStagiaireServlet</servlet-name>
    <servlet-class>fr.eni.servlet.AccesStagiaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccesStagiaireServlet</servlet-name>
    <url-pattern>/AccesStagiaireServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccesAnimateurServlet</display-name>
    <servlet-name>AccesAnimateurServlet</servlet-name>
    <servlet-class>fr.eni.servlet.AccesAnimateurServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccesAnimateurServlet</servlet-name>
    <url-pattern>/AccesAnimateurServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CompteurAccesServlet</display-name>
    <servlet-name>CompteurAccesServlet</servlet-name>
    <servlet-class>fr.eni.servlet.CompteurAccesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CompteurAccesServlet</servlet-name>
    <url-pattern>/CompteurAccesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EcranConnectionServlet</display-name>
    <servlet-name>EcranConnectionServlet</servlet-name>
    <servlet-class>fr.eni.servlet.EcranConnectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EcranConnectionServlet</servlet-name>
    <url-pattern>/EcranConnectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExempleSessionServlet</display-name>
    <servlet-name>ExempleSessionServlet</servlet-name>
    <servlet-class>fr.eni.servlet.ExempleSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExempleSessionServlet</servlet-name>
    <url-pattern>/ExempleSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthentificationServlet</display-name>
    <servlet-name>AuthentificationServlet</servlet-name>
    <servlet-class>fr.eni.servlet.AuthentificationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentificationServlet</servlet-name>
    <url-pattern>/AuthentificationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerFormationServlet</display-name>
    <servlet-name>ManagerFormationServlet</servlet-name>
    <servlet-class>fr.eni.servlet.ManagerFormationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerFormationServlet</servlet-name>
    <url-pattern>/ManagerFormationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AuthentificationCookieServlet</display-name>
    <servlet-name>AuthentificationCookieServlet</servlet-name>
    <servlet-class>fr.eni.servlet.AuthentificationCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthentificationCookieServlet</servlet-name>
    <url-pattern>/AuthentificationCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManagerStagiaireServlet</display-name>
    <servlet-name>ManagerStagiaireServlet</servlet-name>
    <servlet-class>fr.eni.servlet.ManagerStagiaireServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerStagiaireServlet</servlet-name>
    <url-pattern>/ManagerStagiaireServlet</url-pattern>
  </servlet-mapping>
  
  <resource-ref>
  	<description>Ici c'est mon pool !!!</description>
  	<res-ref-name>jdbc/monPool</res-ref-name>
  	<res-type>javax.sql.DataSource</res-type>
  	<res-auth>Container</res-auth>
  </resource-ref>
  
</web-app>